@import url(../css/reset.css);

body {
    font-size: 16px;
    font-family: 'Noto Sans TC', sans-serif;
    font-weight: 400;
    line-height: 160%;
    letter-spacing: 0.5px;
    color: #161616;
}

/* ------------------ Header Start ------------------ */

header {
    width: 100%;
    position: relative;
}
.container {
    margin: 0 auto;
    max-width: 1280px;
}

/* Header最上面(藍色)區域 */
.top-bar {
    background-color: #0073A6;
    padding: 5px 80px;
}

.top-bar ol {
    list-style: none;
    display: flex;
    gap: 24px;
}

.top-bar ol li {
    display: flex;
    align-items: center;
}

/* EN */
.top-bar ol li a {
    text-decoration: none;
    color: #FFF;
    display: flex;
    align-items: center;
    font-size: 16px;
    letter-spacing: 0px;
    font-weight: 500;
}
.top-bar ol li a:hover{
    color: #D7D7D7;
}

/* 地球&info */
.top-bar ol li a i {
    color: #FFF;
    font-size: 20px;
    display: flex;
    align-items: center;
}
.top-bar ol li a i:hover{
    color: #D7D7D7;
}

/* Header中間大區域(白色)區域 */
.header-main {
    background-color: #fff;
    padding: 0px 80px;
    /* position: fixed; */
    width: 100vw;
    /* z-index: 99; */
    top: 0;
    left: 0;
    position: relative;
}
.header-main .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 89px;
}
.header-main .container .ham-logo {
    display: flex;
    align-items: center;
}

/* 漢堡icon */
.header-main .container .ham-logo .bi-list {
    color: #0073A6;
    font-size: 30px;
    margin-right: 25px;
}

/* logo圖 */
.header-main .logo {
    background-image: url('../img/logo.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 200px;
    height: 90px;
}

/* 中間導覽列 */
.header-main .container .main-nav {
    display: flex;
    align-items: center;
}
.header-main .container .main-nav ol {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    gap: 8px;
    flex-wrap: wrap;
}
.header-main .container .main-nav ol li {
    padding: 10px;
    height: 120px;
    line-height: 120px;
}
.header-main .container .main-nav-d ol li {
    padding: 10px;
    height: 94px;
    line-height: 94px;
}
.header-main .container .main-nav ol li a {
    text-decoration: none;
    display: flex;
    align-items: center;
    color: #545454;
    font-size: 18px;
    font-weight: 500;
    transition: all 0.3s ease;
}

.header-main .container .main-nav ol li a:hover{
    color: #1C4F92;
    transform: translate(0, -2px);
}

/* 搜尋欄 */
.search-bar-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #007bb8;
    z-index: 1000;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 50px 0px;
    gap: 10px;
    display: none;
}
.search-bar {
    width: 70%;
    max-width: 800px;
    display: flex;
    align-items: center;
    background-color: #ffffff;
    border: 1px solid #ccc;
    border-radius: 50px;
    padding: 5px 20px;
}
.search-bar input {
    border: none;
    outline: none;
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border-radius: 50px;
}
.search-bar i {
    margin-right: 10px;
    font-size: 20px;
    color: #999;
}

/* 叉叉icon */
.search-bar-container .close-btn {
    position: absolute;
    right: 70px;
    font-size: 24px;
    color: white;
    cursor: pointer;
}

/* 熱搜關鍵字 */
.hot-keywords {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 10px;
    justify-content: center;
    flex-wrap: wrap;
}
.hot-keywords .bi-fire{
    display: flex;
    align-items: center;    
    justify-content: center;
    color: #E31936;
    font-size: 16px;
    line-height: 160%;
    font-weight: 500;
    background-color: #fff;
    border: 1px solid #E31936;
    border-radius: 10px;
    padding: 4px 10px;
    gap: 4px;
}
.hot-keywords a {
    color: white;
    text-decoration: none;
    font-size: 16px;
    padding: 5px 10px;
    position: relative;
}
.hot-keywords a:hover{
    font-weight: 500;
    transition: all 0.3s ease;
}
.hot-keywords a:not(:last-child):after{
    content: '';
    display: inline-block;
    width: 1px;
    height: 18px;
    background-color: #fff;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translate(0, -50%);
    margin: 0px -4px;
}

/* 中間導覽列-Hover後出現的下拉選單 */
.dropdown{
    display: flex;
    width: 100vw;
    position: absolute;
    left: 0px;
    top: 100%;
    z-index: 5;
    background-color: #fff;
    border-bottom: 1px solid #ccc;

    display: none;
}
/* 中間導覽列選項 hover */
.nav-item:hover > .dropdown{
    display: flex;
    padding-top: 33px;
    background-clip: content-box;

}
.dropdown-items{
    display: flex;
    flex-direction: column;
    flex: 40%;
    padding: 20px 80px 20px 80px;
}
.dropdown-img{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #E8EDF4;
    flex: 60%;
    padding: 20px 40px;
}
.dropdown-img h6{
    align-self: flex-start;
    font-size: 18px;
    font-weight: 700;
    color: #161616;
    margin-bottom: 15px;
}
.dropdown-img img{
    width: 100%;
    max-width: 683px;
}
.dropdown-items h2{
    color: #1C4F92;
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 32px;
}
.dropdown-items .items {
    display: flex;
    flex: 1;
    flex-direction: column;
    gap: 20px;
}
.dropdown-items .items p{
    font-size: 18px;
    font-weight: 500;
    line-height: 160%;
    padding: 10px;
}
.dropdown-items .items p a{
    color: #545454;
    text-decoration: none;
}

/* 特殊導覽列 */
.header-main .container-d {
    display: flex;

    align-self: center;
    justify-content: center;
    padding: 0px;
    display: none;
}

/* icon-nav */
.icon-nav {
    display: flex;
    justify-content: flex-end;
}
.icon-nav > ol {
    list-style: none;
    display: flex;
    gap: 24px;
}
.icon-nav ol li {
    display: flex;
    align-items: center;
}
.icon-nav ol li a {
    text-decoration: none;
    display: flex;
    align-items: center;
}
.icon-nav ol li a i {
    color: #545454;
    font-size: 24px;
    display: flex;
    align-items: center;
}
.icon-nav ol li a i:hover{
    color: #0073A6;
}

/* 特殊 */
.icon-nav .bi-person{
    animation: bi-person-move 0.8s ease-in-out 2s infinite;
    animation-iteration-count: 2;
}
@keyframes bi-person-move {
    0% { transform: translateY(0px); }
    25% { transform: translateY(-5px); }
    50% { transform: translateY(0px); }
    75% { transform: translateY(-5px); }
    100% { transform: translateY(0px); }
}
.icon-nav .bi-person {
    position: relative;
}
.icon-nav .bi-person:hover::after {
    content: "Click me!";
    position: absolute;
    bottom: 100%; 
    left: 50%;
    transform: translateX(-50%);
    background-color: #545454;
    color: #fff;
    padding: 3px 10px;
    border-radius: 5px;
    white-space: nowrap;
    font-size: 10px;
    opacity: 0;
    transition: opacity 0.3s;
    pointer-events: none;
}
.icon-nav .bi-person:hover::after {
    opacity: 1; 
}


.icon-nav ol li .bi-cart {
    position: relative;
}
.icon-nav ol li .bi-cart::after {
    content: '2'; 
    position: absolute;
    top: -10px;
    right: -10px;
    background-color: red;
    color: white;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    font-weight: bold;
    line-height: 20px;
}

/* 手機版右邊漢堡 */
.icon-nav ol li .bi-list-sm {
    display: none;
}

/* 整個下拉選單 */
.main-nav-sm{
    background-color: #fff;
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 10;
    display: flex;
    flex-direction: column;
    display: none;
}

.main-nav-sm ol{
    display: flex;
    flex-direction: column;
}

.main-nav-sm-item{
    display: flex;
    flex-direction: column;
    /* position: relative; */
}

.main-nav-sm-item.active > .dropdown-sm{
    height: unset;
    /* height: auto; */
    padding: 20px 30px;

    }

/* 下拉選單大標 */
.sm-item{
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 30px;
    box-sizing: border-box;
    border-bottom: 1px solid #ccc;
}
.sm-item h5{
    font-size: 20px;
    font-weight: 700;
    line-height: 160%;
    color: #1C4F92;
}
.sm-item .bi-chevron-down{
    font-size: 16px;
    color: #1C4F92;
}

/* 下拉選單內容 */
.dropdown-sm{
    width: 100vw;
    height: 0;
    padding: 0;
    overflow: hidden;
}
.dropdown-sm a{
    text-decoration: none;
    color: #545454;
    font-size: 18px;
    font-weight: 500;
    line-height: 160%;
    padding: 10px;
    transition: all 0.3s ease-in-out;
}
.dropdown-sm a:hover{
    color: #1C4F92;
    transform: translate(0, -2px);
    transition: all 0.5s ease-in-out;
}

/* 最新消息 */
.news {
    background-color: #EFEFEF;
    padding: 4px 80px;
    z-index: 1;
    position: relative;
}
.news p a {
    color: #545454;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* ------------------ Header End ------------------ */

/* ------------------ Header RWD Start------------------ */

@media screen and (max-width:1400px) {
    .header-main .container {
        gap: 20px;
    }
}

@media screen and (max-width:1240px) {
    .header-main .container .main-nav {
        display: none;
    }
    .header-main .container-d {
        display: flex;
        border-top: 1px solid #ccc;
    }
    .header-main .container-d .main-nav-d {
        display: flex;
        flex-direction: column;
    }
    header .container {
        width: 100%;
    }
    .top-bar {
        padding: 5px 24px;
    }
    .header-main {
        padding: 25px 24px 0px 24px;
    }
    .news {
        padding: 4px 24px;
    }
    .dropdown{
        /* flex-direction: column; */
        gap: 30px;
    }
    .dropdown-items{
        padding: 30px 50px;
    }
    .dropdown-img{
        padding: 30px 80px;
    }
    .search-bar-container {
        top: 150px;
    }
}

@media screen and (max-width:768px) {
    .top-bar{
        display: none;
    }
    .header-main .logo {
        width: 135px;
        height: 35px;
    }
    /* 左邊漢堡icon */
    .header-main .container .ham-logo .bi-list {
        display: none;
    }
    .icon-nav ol li .bi-list-sm {
        display: flex;
        color: #545454;
    }
    .icon-nav > ol{
        gap: 15px;
    }
    .header-main {
        padding: 25px 24px 25px 24px;
        position: fixed;
        z-index: 99;
    }
    .header-main:hover ~ .dropdown1{
        display: none;
    }
    .header-main .container-d {
        display: none;
    }
    .search-bar-container {     
        top: 0;
        align-items: flex-start;
        padding: 50px 20px;
    }
    .search-bar {
        width: 85%;
        padding: 0px 20px;
        position: relative;
    }
    .search-bar input {
        border: none;
        outline: none;
        width: 100%;
        padding: 10px;
        font-size: 16px;
        border-radius: 50px;
    }
    .search-bar i {
        margin-right: 10px;
        font-size: 20px;
        color: #999;
    }
    .search-bar-container .close-btn {
        right: 50px;
        position: absolute;
        top: 50%;
        right: 30px;
        transform: translate(0px, -50%);
    }
    .hot-keywords {
        display: none
    }
    .news {
        display: none;
    }
}

@media screen and (max-width:430px){
    .header-main {
        padding: 25px 12px 25px 12px;
        position: fixed;
        z-index: 99;
    }
    .icon-nav > ol{
        gap: 12px;
    }
    .search-bar-container {     
        padding: 20px 20px;
    }
    .search-bar {     
        width: 85%;
    }
} 
/* ------------------ Header RWD End------------------ */


/*  Index-------------------------------------------------------------開始 */

/* 每一個區塊設定 */
.section{
    margin: 0 auto;
    text-align: center;
    padding: 100px 80px;
}
/* 每一個區塊標題 */
.section h2{
    font-size: 40px;
    font-weight: 700;
    line-height: 160%;
    color: #1C4F92;
    margin-bottom: 40px;
}

/* (1) 輪播圖 carousel */
.carousel{
    padding: 0px;
    position: relative;
    /* 手機版記得要加margin-top:85px */
}
.carousel-item img{
    box-sizing: border-box;
    width: 100%;
}
.topic{
    display: inline-block;
    text-align: center;
    position: relative;
    padding: 30px;
    background-color: rgba(256, 256, 256, 0.7);
    
    position: absolute;
    top: 50%;
    left: 10%;
    transform: translateY(-50%);

    transition: all 0.3s ease;
}
.topic:hover{
    background-color: rgba(256, 256, 256, 0.8);

}
.topic-content{
    position: relative;
}
.topic-content h1{
    font-size: 32px;
    font-weight: 700;
    line-height: 160%;
    color: #163F75;
    margin-bottom: 30px;
    text-align: left;
}
.topic-content h3{
    font-size: 18px;
    line-height: 160%;
    color: #545454;
    margin-bottom: 53px;
    text-align: left;
}

/* 按鈕 */
.topic-btn{
    width: 300px;
    height: 50px;
    line-height: 50px;
    background-color: #163F75;
    color: #fff;
    font-size: 16px;
    font-weight: 700;
    box-sizing: border-box;
    transition: all 0.3s ease;

}
.topic-btn:hover {
    background-color: #112F58;
}
/* 特殊 */
.member-btn{
    text-decoration: none;
}

/* (2) 全站商品分類 category */
.category-content{
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 40px;
}
.category h2{
    margin-bottom: 120px;
}
.category-item{
    text-decoration: none;
    display: inline-block;
    justify-self: center;
    transition: all 0.3s ease;
}
.category-item:hover{
    transform: translateY(-10px);
}
.category-item img{
    display: block;
    width: 100px;
    height: 100px;
    margin-bottom: 10px;
    object-fit: contain;
}
.category-item span{
    color: #153B6E;
    font-weight: 500;
    line-height: 160%;
    letter-spacing: 0.5px;
}

/* (3) 暢銷排行 ranking */
/* 圓角框 */
.ranking-content{
    border: 1px solid #ccc;
    height: auto;
    border-radius: 20px;
    position: relative;
    padding: 120px 30px 30px 30px;

    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
/* h2 */
.ranking-content::before{
    content: '暢銷排行';
    font-size: 40px;
    font-weight: 700;
    line-height: 160%;
    /* margin-bottom: 120px; */
    color: #1C4F92;
    position: absolute;
    left: 50%;
    top: -36px;
    transform: translateX(-50%);
    background-color: #fff;
    padding: 0px 30px;
}
.ranking-content .left-area{
    display: flex;
    flex-direction: row;
}

.ranking-content .right-area,
.ranking-content .left-area-sm{
    text-align: left;
    margin-left: 30px;
}

/* 商品 */
.product{
    position: relative;
    display: inline-block;
    width: 200px;
    text-align: center;
    margin: 50px 30px 50px 10px;
    transition: all 0.3s ease;
}
.product:hover{
    transform: translateY(-10px);
}
/* 排名1-3的號碼 */
.ranking-num, 
.ranking-num-lg{
    background-color: #E31936;
    display: inline-block;
    border-radius: 10px;
    color: #fff;
    font-size: 30px;
    font-weight: 700;
    width: 60px;
    height: 60px;
    line-height: 60px;
    text-align: center;

    position: absolute;
    top: -30px;
    left: -30px;
}

.ranking-img{
    display: inline-block;
    text-align: center;
    width: 150px;
    height: auto;
    line-height: 250px;
}
.ranking-img img{
    display: inline-block;
    width: 100%;
    height: auto;
    vertical-align: middle;
    box-sizing: border-box;
    background-size: contain;
}

/* 熱賣/獨家/新品小標籤 */
.ranking-img + div{
    text-align: left;
}
.product-tag,
.product-tag_hot{
    background-color: #FF7F13;
    display: inline-block;
    border-radius: 2px;
    color: #fff;
    font-size: 8px;
    line-height: 17px;
    letter-spacing: 0.5px;
    font-weight: 500;
    width: 25px;
    height: 17px;
    text-align: center;
    margin-right: 2px;

    justify-self: end;
}
.product-tag_only{
    background-color: #0692A4;
}
.product-tag_new{
    background-color: #0778FB;
}
.ranking-img + p{
    text-align: left;
}

/* 商品名稱&價格 */
.product-content,
.product-sm-content{
    display: inline-block;
    text-align: left;
    text-decoration: none;
    color: #161616;
}
/* 價格區 */
.product-price{
    display: flex;
    align-items: end;
    justify-content: space-between;
}
.price{
    color: #E31936;
    font-size: 20px;
    font-weight: 700;
    line-height: 160%;
}
.product-price .price span{
    color: #B3B3B3;
    font-size: 14px;
    font-weight: 400;
    line-height: 160%;
    vertical-align: middle;
    margin-left: 4px;
    text-decoration: line-through;
}
/* 評分區 */
.product-score{
    display: flex;
}
.bi-star-fill{
    color: #F0AF07;
    margin-right: 2px;
}
.product-price .score{
    font-size: 14px;
}
.product-price .score > span{
    font-size: 12px;
}

/* 特殊1-3 */
.left-area-sm{
    display: none;
}
/* 排名4-6的號碼 */
.product-sm-content{
    display: inline-block;
    transition: all 0.3s ease;
}
.product-sm-content:hover{
    transform: translateY(-10px);
}
.product-sm-content{
    position: relative;
    margin-bottom: 30px;
    display: flex;

}
.product-sm .ranking-num-sm{
    border-radius: 5px;
    font-size: 15px;
    width: 30px;
    height: 30px;
    line-height: 30px;

    position: absolute;
    top: -25px;
    left: -25px;
}

.product-sm .ranking-img-sm{
    display: inline-block;
    text-align: center;
    width: 100px;
    height: 100px;
    line-height: 100px;
    margin-right: 16px;


    /* outline: 1px solid pink; */
}
.product-sm .ranking-img-sm img{
    display: inline-block;
    width: 100%;
    height: auto;
    vertical-align: middle;
    box-sizing: border-box;
    background-size: contain;
}
.note{
    font-size: 14px;
    color: #078030;
}

.product-sm-content p:not(:last-child){
    margin-bottom: 6px;
}


/* (4) 新品上市 new-arrival */
.new-arrival-area{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}
.new-arrival{
    background-color: #E8EDF4;
}
.new-list{
    background-color: #fff;
    width: 420px;
    height: 620px;
    border: 0;
    border-radius: 12px;
    box-sizing: border-box;
    padding: 32px 24px;
}
.new-list h4{
    color: #1C4F92;
    font-size: 24px;
    font-weight: 700;
    line-height: 160%;
    margin-bottom: 40px;
    text-align: left;
}
.new-list .product-sm-content:not(:last-child){
    margin-bottom: 50px;
}

/* (5) 主題推薦 theme */
.theme-area{
    border: 1px solid #ccc;
    border-radius: 20px;

    display: flex;
    position: relative;
}
.theme-img{
    width: 450px;
    height: 900px;
    position: relative;

}
.theme-img img{
    width: 100%;
    height: 100%;
    display: block;
    border: 0;
    border-radius: 20px 0px 0px 20px;
    box-sizing: border-box;
    object-fit: cover;
    
    position: absolute;
    top: 0;
    left: 0;


}
.theme-area .theme-topic-area{
    display: inline-block;
    text-align: center;
    position: relative;
    padding: 40px 30px;
    background-color: rgba(256, 256, 256, 0.7);
    
    position: absolute;
    top: 20%;
    left: 3%;
    transform: translateY(-50%);
    transition: all 0.3s ease;
}
.theme-area .theme-topic-area:hover{
    background-color: rgba(256, 256, 256, 0.8);
}
.theme-area .theme-topic-content{
    position: relative;

}
.theme-area .theme-topic-content h4{
    font-size: 24px;
    font-weight: 700;
    line-height: 160%;
    color: #163F75;
    margin-bottom: 15px;
    text-align: left;
}
.theme-area .theme-topic-content p{
    font-size: 16px;
    line-height: 160%;
    color: #6C6C6C;
    text-align: left;
}
/* 主題按鈕 */
.theme-topic-btn{
    width: 100%;
    height: 32px;
    line-height: 32px;
    background-color: #163F75;
    color: #fff;
    font-size: 14px;
    font-weight: 700;
    box-sizing: border-box;

    position: absolute;
    bottom: -60px;
    left: 0;
    transition: all 0.3s ease;
}
.theme-area .theme-topic-area:hover .theme-topic-btn{
    background-color: #112F58;
}

.theme-product{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    margin: 0 auto;
}
.theme-product .product{
    position: relative;
    display: inline-block;
    width: 200px;
    text-align: center;
    margin: 0px;
    transition: all 0.3s ease;
}


/* (6) 精選品牌 brand */
.brand-content{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 80px;
}
.brand-item{
    text-decoration: none;
    display: inline-block;
    justify-self: center;
    transition: all 0.3s ease;

}
.brand-item:hover{
    opacity: 0.9;
}
.brand-item img{
    display: block;
    width: 100%;
    min-width: 110px;
    height: 80px;
    margin-bottom: 10px;
    object-fit: contain;
}
.brand-item:hover{
    transform: translateY(-10px);
}

/* (7) 特展活動 show */
.show{
    background-color: #E8EDF4;
}
.show-list{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px;
}
.show-item{
    text-decoration: none;
    display: block;
    color: #545454;
    line-height: 160%;
    text-align: left;
    width: 360px;
    height: 400px;
    border: 1px solid #ccc;
    border-radius: 12px;
    box-sizing: border-box;
    background-color: #fff;
    position: relative;
    transition: all 0.3s ease;


}
.show-item img{
    box-sizing: border-box;
    display: block;
    width: 100%;
    height: auto;
    object-fit: cover;

    border-radius: 12px 12px 0px 0px;
}
.show-content{
    padding: 32px 16px;
}
.show-item h4{
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 8px;
}
.show-item h4 + p{
    font-size: 14px;
    margin-bottom: 32px;
}
.show-item .date{
    color: #E31936;
    font-weight: 700;
}

.show-item span{
    color: #afafaf;
    padding: 10px;
    position: absolute;
    bottom: 0;
    right: 0;
}
.show-item:hover{
    transform: translateY(-10px);
}

/* 回到頂部 */
.toTopbtn{
	display: block;
	width: 60px;
	height: 60px;
	background-color: #153B6E;
	color: white;
	display: flex;
	justify-content: center;
	align-items: center;
	position: fixed;
	right: 30px;
	bottom: 60px;
	text-decoration: none;
	border-radius: 50%;
	font-size: 28px;
	transition: .3s;
}

.toTopbtn .bi{
	transition: .3s;
}

.toTopbtn:hover{
	background-color: #112F58;
}

.toTopbtn:hover .bi{
	transform: translateY(-3px);
}

/*  Index-------------------------------------------------------------結束 */

/* Index rwd */

@media screen and (max-width:1240px){
    /* 每一個區塊設定 */
    .section{
        padding: 100px 24px;
    }
    /* 每一個區塊標題 */
    .section h2{
        font-size: 32px;
        font-weight: 700;
        line-height: 160%;
        color: #1C4F92;
        margin-bottom: 40px;
    }
    /* (1) 輪播圖 carousel */
    .carousel{
        padding: 0px;
    }
    /* (2) 全站分類*/
    .category h2{
        margin-bottom: 80px;
    }
    /* (3) 暢銷排行*/
    .ranking-content::before{
        font-size: 32px;
        top: -30px;
    }
    .ranking .ranking-content{
        padding: 80px 10px 30px 30px;
    }
}
@media screen and (max-width:1024px) {
    /* 每一個區塊設定 */
    .section{
        padding: 50px 24px;
    }

    /* (1) 輪播圖 carousel */
    .carousel{
        padding: 0px;
    }

    /* (2) 全站分類 */
    .category-content{
        grid-template-columns:repeat(5, 1fr);
        gap: 30px;
    }
    .category-item img{
        width: 80px;
        height: 80px;
    }

    /* (3) 暢銷排行 */
    .ranking-content{
        padding: 80px 10px 30px 10px;
        flex-direction: column;
    }
    .ranking-content .left-area .product{
        margin: 50px 10px 50px 10px;
    }
    .right-area .product-sm,
    .left-area-sm .product-sm{
        display: flex;
    }
    .right-area .product-sm-content,
    .left-area-sm .product-sm{
        flex-direction: column;
    }
    .ranking .product-sm-text{
        padding: 0px 10px;
        padding-top: 20px;
    }
    .ranking .product-sm-text p:first-of-type{
        width: 200px;
    }

    /* (4) 新品上市 */
    .new-arrival-area{
        gap: 10px;
    }
    .new-list{
        padding: 32px 12px;
    }
    /* (5) 主題推薦 theme */
    .theme-area{
        flex-direction: column;
    }
    .theme-img{
        width: 100%;
        height: 150px;
    }
    .theme-img img{
        width: 100%;
        height: 100%;
        border-radius: 20px 20px 0px 0px;
    }
    .theme-area .theme-topic-area{
        padding: 0px;
        background-color: rgba(256, 256, 256, 0.0);
        position: absolute;
        top: 80px;
        left: 3%;
    }
    .theme-area .theme-topic-content h4{
        display: none;
    }
    .theme-area .theme-topic-content p{
        color: #fff;;
    }
    /* 主題按鈕 */
    .theme-topic-btn{
        display: none;
    }
    .theme-product{
        padding-bottom: 80px;
    }
    .theme-product .product{
        margin: 0 auto;
    }

    /* (6) 精選品牌 */
    .brand-content{
        gap: 10px;
    }
    .brand-item img{
        max-width: 110px;
    }

    /* (7) 特展活動 */
    .show-list{
        gap: 10px;
    }
    .show-item h4{
        font-size: 20px;
    }
    
}

@media screen and (max-width:768px){
    /* 每一個區塊標題 */
    .section h2{
        font-size: 24px;
    }
    /* 全站分類標題下方留空*/
    .category h2{
        margin-bottom: 40px;
        color: #545454;
    }
    /* 暢銷排行標題大小*/
    .ranking-content::before{
        font-size: 24px;
        top: -20px;
    }

    /* (1) 輪播圖 carousel */
    /* 輪播大圖 */
    .carousel{
        margin-top: 85px;
        padding-top: 0px;
    }
    /* 輪播文案主題 */
    .carousel .topic{
        padding: 20px;
    }
    .carousel .topic-content h1{
        font-size: 24px;
        margin-bottom: 10px;
    }
    .carousel .topic-content h3{
        font-size: 14px;
        margin-bottom: 10px;
    }
    /* 輪播文案按鈕 */
    .carousel .topic-btn{
        width: 175px;
        height: 30px;
        line-height: 30px;
        font-size: 12px;   
    }

    /* (2) 全站分類 */
    .category-content{
        grid-template-columns:repeat(2, 1fr);
        gap: 30px;
    }
    .category-item{
        display: flex;
        align-items: center;
        gap: 20px;
    }
    .category-item img{
        width: 80px;
        height: 80px;
    }
    .category .category-item span{
        display: inline-block;
    }

    /* (3) 暢銷排行 ranking */
    .right-area .product-sm,
    .left-area-sm .product-sm{
        flex-direction: column;
    }
    .right-area .product-sm-content,
    .left-area-sm .product-sm-content{
        flex-direction: row;
    }
    .ranking .left-area{
        display: none;
    }
    .left-area-sm{
        display: flex;
    }

    .ranking .product-sm-text p:first-of-type{
        width: 230px;
    }



    /* (4) 新品上市 new-arrival */
    .new-arrival .new-arrival-area{
        flex-direction: column;
    }
    .new-list{
        width: 100%;
        height: auto;
    }
    .new-list h4{
        text-align: center;
    }
    .new-list .product-sm-content{
        justify-content: center;
    }
    /* (5) 主題推薦*/
    .theme-product{
        grid-template-columns: repeat(2, 1fr);
        column-gap: 75px;
    }
    .theme-product .product{
        width: 150px;
        margin: 0 auto;
    }

    /* (6) 精選品牌 */
    .brand-content{
        grid-template-columns: repeat(2, 1fr);
        gap: inherit;
    }

    /* (7) 特展活動 */
    .show-list{
        flex-direction: column;
        gap: 50px;
    }
    .show-item{
        width: 80%;
        height: auto;
    }
}

@media screen and (max-width:430px){
    /* 每一個區塊設定 */
    .section:not(.carousel){
        padding: 50px 12px;
    }


    /* (1) 輪播圖 carousel */
    /* 輪播文案主題 */
    .carousel .topic{
        padding: 5px;
        background-color: rgba(256, 256, 256, 0);
    }
    .carousel .topic-content h1{
        font-size: 16px;
        margin-bottom: 10px;
        color: #fff;
        text-shadow: 2px 2px 5px rgba(255, 255, 255, 0.3);
    }
    .carousel .topic-content h3{
        font-size: 12px;
        margin-bottom: 6px;
        font-weight: 400;
        color: #fff;
        text-shadow: 2px 2px 5px rgba(255, 255, 255, 0.3);
    }
    /* 輪播文案按鈕 */
    .carousel .topic-btn{
        display: none;
    }
    .carousel-control-prev-icon,
    .carousel-control-next-icon{
        width: 1rem;
        height: 1rem;
    }

    /* (2) 全站分類 */
    .category{
        display: grid;
        justify-content: center;
    }
    .category-content{
        grid-template-columns:repeat(2, 1fr);
        gap: 30px;
    }
    .category-item{
        display: flex;
        align-items: center;
        justify-self: left;
        gap: 10px;
    }
    .category-item img{
        width: 50px;
        height: 50px;
    }
    .category .category-item span{
        display: inline-block;
        font-size: 14px;
        /* color: #161616; */
        font-weight: 500;
    }
    .ranking .product-sm-text p:first-of-type{
        width: auto;
    }
    /* (4) 新品上市 new-arrival */
    .new-list h4{
        font-size: 20px;
        color: #545454;
    }

    /* (5) 主題推薦*/
    .theme-product{
        grid-template-columns: repeat(1, 1fr);
        gap: 10px;
    }


    /* 回到頂部 */
    .toTopbtn{
        width: 40px;
        height: 40px;
        right: 20px;
        bottom: 60px;
        font-size: 16px;
    }
}


/* ------------------ Footer Start ------------------ */

/* 整個footer */
.footer{
    display: flex;
    justify-content: space-between;
    background-color: #0073A6;
    margin: 0 auto;
    padding: 25px 81px;
}

/* 左側區域 */
.footer .left-area{
    width: 20%;
    min-width: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 49px;
    padding-top: 10px;
}

/* logo圖 */
.footer .logo img{
    width: 200px;
}

/* social-media icon */
.social-media{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 32px;
}
.social-media .bi{
    font-size: 45px;
    color:#fff;
}
.social-media .bi:hover{
    font-size: 45px;
    color:#161616;
    transition: all 0.33s ease;
}

/* apps */
.apps{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 16px;
}
.apps img{
    max-width: 128px;
}
.apps li{
    list-style: none;
}
.apps-icon{
    align-items: center;
    justify-content: center;
    gap: 32px;

    display: none;
}
.apps-icon .bi{
    font-size: 24px;
    color: #fff;
}

/* line */
.footer .line{
    width: 1px;
    height: 450px;
    background-color: #fff;
    margin: 0 57px;
}

/* right-area */
.footer .right-area{
    width: 70%;
    display: flex;
    justify-content: space-between;
}
.footer .right-area h6{
    font-size: 18px;
    font-weight: 700;
    color: #fff;
    padding: 10px 0;
}

.footer .right-area a{
    text-decoration: none;
}

.footer .right-area p{
    color: #fff;
    font-size: 14px;
}
.footer .right-area p:hover{
    font-weight: 700;
    transition: all 0.3s ease;
}
.footer .right-area .footer-list{
    gap: 10px;
    display: flex;
    flex-direction: column;

}
.footer .right-area .list-item{
    display: flex;
    flex-direction: column;
    gap: 4px;
}

/* copyright */
.copyright{
    background-color: #EFEFEF;
    padding: 12px 36px;
}
.copyright p{
    color: #545454;
    font-size: 12px;
    text-align: center;
}

.copyright p:nth-child(2){
    display: none;
}
.copyright span{
    color: #478E8F;
}
.tibame{
    padding: 0 36px;
    background-color: #EFEFEF;
}
.tibame p{
    font-size: 12px;
    color: #161616;
    text-align: center;
    font-weight: 700;
    padding: 10px 0px;

}
/* ------------------ Footer End ------------------ */


/* ------------------ Footer-RWD Start ------------------ */

@media screen and (max-width: 1024px) {
    .footer {
        flex-direction: column; /* 小螢幕下垂直排列 */
        align-items: center;
        padding: 24px 0px;
        gap: 32px;
    }
    .footer .left-area{
        flex-direction: row;
        justify-content: center;
        width: 0%;
        min-width: 0px;
        gap: 32px;
        padding: 0;
        order: 2;
    }
    .footer .logo img{
        display: none;
    }
    .social-media .bi{
        font-size: 24px;
        color:#fff;
    }
    .social-media .bi:hover{
        font-size: 24px;
        transition: all 0.3s ease;
    }
    .apps{
        display: none;
    }
    .apps-icon{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .apps-icon .bi:hover{
        color:#161616;
        transition: all 0.3s ease;

    }
    .footer .line{
        display: none;
    }
    .footer .right-area{
        order: 1;
        width: 90%;
    }
    .footer .right-area .list-item{
        /* display: none; */
        text-align: left;
        margin: 0 auto;
    }
    .footer .right-area h6:hover{
        color: #161616;
        transition: all 0.3s ease;
    }
    .copyright p{
        display: none;
    }
    .copyright p:nth-child(2){
        display: block;
    }
}

@media screen and (max-width: 768px){
    .footer{
        padding: 0;
        gap: 0;
    }
    .footer .right-area{
        flex-direction: column;
    }
    .footer .right-area .footer-list h6{
        display: flex;
        align-items: center;
        justify-content: center;

        font-size: 16px;
        font-weight: 700;
        padding: 16px 10px;
    }
    .footer .left-area{
        padding: 16px;
    }
    .copyright{
        padding: 10px 36px;
    }
    .tibame p{
        font-size: 11px;
    }
    .footer .right-area .list-item{
        display: none;
        text-align: center;
    }
    .footer-list.active .list-item{
        display: block;
    }
}

/* ------------------ Footer-RWD End ------------------ */


