@import url(../css/reset.css);

body {
    font-size: 16px;
    font-family: 'Noto Sans TC', sans-serif;
    font-weight: 400;
    line-height: 160%;
    letter-spacing: 0.5px;
    color: #161616;
    height: 100vh; /* 確保這行被正確應用 */
    overflow: hidden; /* 確保這行被正確應用 */
    min-height: 100vh; /* 確保這行被正確應用 */
}

/* ------------------ Login Start ------------------ */
.wrapper{
    /* width: 100%;
    padding: 10px;

    outline: 1px solid #0073A6; */
    width: 100%;
    padding: 40px 100px 55px 100px;
}
/* 麵包屑 */
.breadcrumb-area{
    width: 100%;
}
.breadcrumb{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 10px;
    list-style: none;
    background-color: #fff;
}
.breadcrumb-item{
    display: flex;
    align-items: center;
}
.breadcrumb-item:not(:last-child):after{
    content: '\F285';
    font-family: 'Bootstrap-Icons';
    font-size: 12px;
    display: inline-block;
    padding: 0 10px;
}
.breadcrumb-item a{
    text-decoration: none;
    font-size: 12px;
    color: #545454;
}
.breadcrumb-item a:hover{
    color: #1C4F92;
}

/* main */
.main{
    /* max-width: 1280px;
    margin: 0 auto; */
    /* padding: 40px 80px 55px 80px; */
    /* display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;

    outline: 1px solid green; */
    width: 100%

}
.main-container{
    /* padding: 10px 80px; */
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 60px;
    gap: 80px;

    outline: 1px solid red;

}
.main .picture-area{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}
.main .login-area{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 1;
}
.main .picture-area img{
    width: 100%;
    width: 500px;
    border-radius: 10px;
}

/* 大標 */
.login-area .main-title{
    text-align: center;
    font-size: 40px; 
    font-weight: 700;
    line-height: 160%;
    margin-bottom: 40px;
}
.login-area{
    display: flex;
    gap: 10px;
}
.login{
    padding: 10px 0px;
}



/* 輸入框 */
form {
    display: flex;
    flex-direction: column;
}
.form-group {
    margin-bottom: 24px;
}

/* 標題 */
.form-group label {
    font-size: 18px;
    color: #161616;
    line-height: 160%;
    letter-spacing: 0.5px;
}
.form-group input[type="email"],
.form-group input[type="password"] {
    width: 100%;
    height: 50px;
    padding: 12px 24px;
    border: 1px solid #ccc;
    border-radius: 10px;
    font-size: 18px;
    line-height: 160%;
    letter-spacing: 0.5px;
    box-sizing: border-box;
    background-color: #fff;
}
.password-group {
    position: relative;
    width: 100%;
}

.password-group input[type="password"] {
    width: 100%;
    padding-right: 40px; /* 留出空間給眼睛圖示 */
}
.password-group i.bi-eye {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    color: #888;
}

/* checkbox */
.checkbox-group {
    display: flex;
    align-items: center;
}
.checkbox-group input[type="checkbox"] {
    width: 24px;
    height: 24px;
    margin-right: 10px;
    border-radius: 4px;
    border: 1px solid #ccc;
    appearance: none;
    -webkit-appearance: none;
    display: inline-block;
    position: relative;
    background-color: #fff;
}
.checkbox-group input[type="checkbox"]:checked {
    background-color: #fff;
    border: 1px solid #0073A6;
}
.checkbox-group input[type="checkbox"]:checked::before {
    content: "\F633";
    font-family: "bootstrap-icons";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #0073A6;
    font-size: 16px;
}
.checkbox-group label {
    font-size: 18px;
    color: #161616;
}
/* 忘記密碼 */
.forgotcode{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 0px 10px;
    margin-bottom: 24px;
}
.forgotcode li{
    padding: 10px;
    /* position: relative; */
}
.forgotcode li .line{
    width: 1px ;
    height: 18px;
    background-color: #545454;
}
.forgotcode li a{
    text-decoration: none;
    color: #545454;
    font-size: 18px;
    line-height: 160%;
    letter-spacing: 0.5px;
}
.forgotcode li a:hover{
    color: #0073A6;
}

/* 分隔線 */
.login-area .line{
    width: 100%;
    height: 1px;
    background-color: #ccc;
    margin: 20px 0px;
}
/* 立即線上辦卡 */
.apply{
    padding: 10px 0;
}

/* 網頁按鈕樣式 */
.btn{
    width: 500px;
    height: 50px;
    background-color: #1C4F92;
    border: 0;
    border-radius: 8px;
    color: #fff;
    font-size: 18px;
    font-weight: 700;
}
.btn:hover{
    background-color: #153B6E;
}
/* ------------------ Login End ------------------ */

/* ------------------ Login-RWD Start ------------------ */
 
@media screen and (max-width:1240px){
    .main{
        width: 100%;
        padding: 40px 60px 55px 60px;
    }  
    .breadcrumb{
        width: 100%
    }
    .btn{
        width: 100%;
        max-width: 500px;
        min-width: 400px;
    }
    /* 大標 */
    .login-area .main-title{
        font-size: 32px; 
        line-height: 0;
    }
    .forgotcode{
        margin-bottom: 16px;
    }
    .main .picture-area img{
        width: 375px;
        height: 525px;
    }
}
@media screen and (max-width:1024px){
    .main{
        padding: 40px 30px 55px 30px;
    }  
    .main-container{
        padding: 10px 0px;
        gap: 60px;
    }
    .main .picture-area img{
        width: 375px;
        height: 525px;
    }
    .btn{
        max-width: 400px;
    }
    .forgotcode{
        margin-bottom: 0px;
    }
    /* 輸入框距離 */
    .form-group{
        margin-bottom: 20px;
    }
    .login{
        padding: 0px;
    }
    .login-area{
        display: flex;
        gap: 20px;
    }
}

/* ------------------ Login-RWD End ------------------ */