@import url(../css/reset.css);

body {
    font-size: 16px;
    font-family: 'Noto Sans TC', sans-serif;
    font-weight: 400;
    line-height: 160%;
    letter-spacing: 0.5px;
    color: #161616;
    /* height: 100vh; 
    overflow: hidden; 
    min-height: 100vh;  */
    height: 100%;
    /* overflow: hidden; */
}

/* ------------------ Header Start ------------------ */
header {
    width: 100%;
}
.container {
    margin: 0 auto;
    max-width: 1280px;
}

/* Top-bar */
.top-bar {
    background-color: #0073A6;
    padding: 5px 80px;
}

.top-bar ol {
    list-style: none;
    display: flex;
    gap: 24px;
}

.top-bar ol li {
    display: flex;
    align-items: center;
}


/* EN */
.top-bar ol li a {
    text-decoration: none;
    color: #FFF;
    display: flex;
    align-items: center;
    font-size: 18px;
    letter-spacing: 0px;
    font-weight: 700;
}
.top-bar ol li a:hover{
    color: #D7D7D7;
}

/* 地球&info */
.top-bar ol li a i {
    color: #FFF;
    font-size: 24px;
    display: flex;
    align-items: center;
}
.top-bar ol li a i:hover{
    color: #D7D7D7;


}

/* 中間 */
.header-main {
    background-color: #fff;
    padding: 25px 80px;
    /*  */
    position: relative;

}

.header-main .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 89px;


}

.header-main .container .ham-logo {
    display: flex;
    align-items: center;
}

/* 漢堡icon */
.header-main .container .ham-logo .bi-list {
    color: #0073A6;
    font-size: 30px;
    margin-right: 25px;
}

/* logo圖 */
.header-main .logo {
    background-image: url('../img/logo.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 200px;
    height: 90px;
}

/* 主選單 */
.header-main .container .main-nav {
    display: flex;
    align-items: center;
}

.header-main .container .main-nav ol {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    gap: 8px;
    flex-wrap: wrap;
}

.header-main .container .main-nav ol li {
    padding: 10px;
    position: relative;
}

.header-main .container .main-nav ol li:not(:last-child):after {
    content: '';
    display: block;
    width: 1px;
    height: 60%;
    background-color: #545454;
    position: absolute;
    right: -4px;
    top: 50%;
    transform: translate(0, -50%);
    margin-left: 50px;
}

.header-main .container .main-nav ol li a {
    text-decoration: none;
    display: flex;
    align-items: center;
    color: #545454;
    font-size: 18px;
    font-weight: 500;
}

.header-main .container .main-nav ol li a:hover{
    color: #1C4F92;
    transform: translate(0, -2px);
    transition: all 0.5s ease-in-out;
}



/* 下拉選單 */
.dropdown{
    display: flex;
    width: 1440px;
    height: 450px;
    position: absolute;
    left: -450px;
    
    top: 93px;
    z-index: 5;
    background-color: #fff;

    display: none;
}

/* 懸停在第一個 li 時顯示下拉菜單 */
.main-nav ol li:hover .dropdown {
    display: flex;
    justify-content: space-between;
}

.dropdown-items{
    display: flex;
    flex-direction: column;
    flex: 40%;

    padding: 20px 0px 20px 80px;

}
.dropdown-img{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    background-color: #E8EDF4;
    flex: 60%;
    padding: 20px 10px;
}
.dropdown-img h6{
    align-self: flex-start;
    font-size: 18px;
    font-weight: 700;
    color: #161616;
    margin-bottom: 15px;
}
.dropdown-img img{
    width: 683px;
    height: 268px;
}

.dropdown-items h2{
    color: #1C4F92;
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 32px;
}
.dropdown-items .items {
    display: flex;
    /* flex: 1 0 30%; */
    flex: 1;


    flex-direction: column;
    gap: 20px;

}

.dropdown-items .items p{
    font-size: 18px;
    font-weight: 500;
    line-height: 160%;
    padding: 10px;

}

.dropdown-items .items p a{
    color: #545454;
    text-decoration: none;
}


/* 下拉選單結束 */


/* 特殊 */
.header-main .container-d {
    display: flex;
    align-self: center;
    justify-content: center;
    padding: 30px 0;
    display: none;
}

/* icon-nav */
.icon-nav {
    display: flex;
    justify-content: flex-end;
}

.icon-nav ol {
    list-style: none;
    display: flex;
    /* align-items: center;
    justify-content: center; */
    gap: 24px;
}

.icon-nav ol li {
    display: flex;
    align-items: center;
}

.icon-nav ol li a {
    text-decoration: none;
    display: flex;
    align-items: center;
}

.icon-nav ol li a i {
    color: #545454;
    font-size: 24px;
    display: flex;
    align-items: center;
}
.icon-nav ol li a i:hover{
    color: #0073A6;
}

/* 特殊 */
.icon-nav ol li .bi-cart {
    position: relative;
}
.icon-nav ol li .bi-cart::after {
    content: '2'; /* 這裡設置通知數字 */
    position: absolute;
    top: -10px;
    right: -10px;
    background-color: red;
    color: white;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    font-weight: bold;
    line-height: 20px;
}
.icon-nav ol li:nth-child(5) {
    display: none;
}
/* 最新消息 */
.news {
    background-color: #EFEFEF;
    padding: 4px 80px;
    z-index: 1; /* 保證在下拉菜單之下 */
}

.news p a {
    color: #545454;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media screen and (max-width:1400px) {
    .header-main .container {
        gap: 20px;
        transition: all 0.3s ease; /* 添加過渡效果 */
    }
}

@media screen and (max-width:1240px) {
    .header-main .container .main-nav {
        display: none;
        transition: all 0.3s ease; /* 添加過渡效果 */
    }
    .header-main .container-d {
        display: flex;
        border-top: 1px solid #ccc;
        transition: all 0.3s ease; /* 添加過渡效果 */
    }
    .header-main .container-d .main-nav-d {
        display: flex;
        transition: all 0.3s ease; /* 添加過渡效果 */
    }
    header .container {
        width: 100%;
        transition: all 0.3s ease; /* 添加過渡效果 */
    }
    .top-bar {
        padding: 5px 24px;
        transition: all 0.3s ease; /* 添加過渡效果 */
    }
    .header-main {
        padding: 25px 24px 0px 24px;
        transition: all 0.3s ease; /* 添加過渡效果 */
    }
    .news {
        padding: 4px 24px;
        transition: all 0.3s ease; /* 添加過渡效果 */
    }
    .dropdown{
        flex-direction: column;
        gap: 30px;
    }
    .dropdown-items{
        padding: 30px 80px;
    }
    .dropdown-img{
        padding: 30px 80px;
    }
}

@media screen and (max-width:768px) {
    .top-bar{
        display: none;
    }
    .header-main .logo {
        width: 135px;
        height: 35px;
    }
    /* 左邊漢堡icon */
    .header-main .container .ham-logo .bi-list {
        display: none;
    }
    .icon-nav ol li:nth-child(5) {
        display: flex;
        color: #545454;
    }
    .icon-nav ol{
        gap: 15px;
    }
    .header-main {
        padding: 25px 24px 25px 24px;
    }
    .header-main .container-d {
        display: none;
    }
}

@media screen and (max-width:430px){
    .header-main {
        padding: 25px 12px 25px 12px;
    }
    .news{
        display: none;
    }
    .icon-nav ol{
        gap: 12px;
    }
} 



/* ------------------ Login Start ------------------ */
.wrapper{
    width: 100%;
    padding: 40px 0px 55px 0px;
}
/* 麵包屑 */
.breadcrumb-area{
    padding-left: 50px;
    margin-bottom: 30px;
}
.breadcrumb{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 10px;
    list-style: none;
    background-color: #fff;
}
.breadcrumb-item{
    display: flex;
    align-items: center;
}
.breadcrumb-item:not(:last-child):after{
    content: '\F285';
    font-family: 'Bootstrap-Icons';
    font-size: 12px;
    display: inline-block;
    padding: 0 10px;
}
.breadcrumb-item a{
    text-decoration: none;
    font-size: 12px;
    color: #545454;
}
.breadcrumb-item a:hover {
    color: #1C4F92;
    /*  */
    transition: all 0.3s ease-in-out; /* 新增過渡效果 */
}

/* main */
.main{
    max-width: 1240px;
    margin: 0 auto;
}
.main-container{
    max-width: 1180px;
    overflow: hidden;
    /* padding-left: 60px; */
    display: flex;
    align-items: center;
    justify-content: center;
}
.main .picture-area{
    /* flex: 1; */
    flex: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.main .login-area{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* flex: 1; */
    flex: 40%;

}
.main .picture-area img{
    width: 400px;

    border-radius: 10px;
    /*  */
    transition: transform 0.3s ease-in-out; /* 新增過渡效果 */
}

/* 大標 */
.login-area .main-title{
    text-align: center;
    font-size: 40px; 
    font-weight: 700;
    line-height: 160%;
    margin-bottom: 40px;
}
.login-area{
    display: flex;
    gap: 40px;
}

/* 輸入框 */
.login-form {
    display: flex;
    flex-direction: column;
    gap: 24px;

    margin-bottom: 40px;
}
.form-group {
    transition: transform 0.3s ease-in-out; /* 新增過渡效果 */
}

/* 標題 */
/* .form-group label {
    font-size: 18px;
    color: #161616;
    line-height: 160%;
    letter-spacing: 0.5px;
} */
.form-group input[type="email"],
.form-group input[type="password"] {
    /*  */
    width: 100%;
    /* width: 500px; */
    max-width: 500px;
    height: 50px;
    padding: 12px 24px;
    border: 1px solid #ccc;
    border-radius: 10px;
    font-size: 18px;
    line-height: 160%;
    letter-spacing: 0.5px;
    box-sizing: border-box;
    background-color: #fff;
}
.password-group {
    position: relative;
    width: 500px;
}

.password-group input[type="password"] {
    width: 100%;
    padding-right: 40px;
}
.password-group i.bi-eye {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    color: #888;
}

/* checkbox */
.checkbox-group {
    display: flex;
    align-items: center;
}
.checkbox-group input[type="checkbox"] {
    width: 24px;
    height: 24px;
    margin-right: 10px;
    border-radius: 4px;
    border: 1px solid #ccc;
    appearance: none;
    -webkit-appearance: none;
    display: inline-block;
    position: relative;
    background-color: #fff;
}
.checkbox-group input[type="checkbox"]:checked {
    background-color: #fff;
    border: 1px solid #0073A6;
}
.checkbox-group input[type="checkbox"]:checked::before {
    content: "\F633";
    font-family: "bootstrap-icons";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #0073A6;
    font-size: 16px;
}
.checkbox-group label {
    font-size: 20px;
    color: #161616;
}


/* 網頁按鈕樣式 */
.btn{
    width: 100%;
    min-width: 500px;
    height: 50px;
    background-color: #1C4F92;
    border: 0;
    border-radius: 8px;
    color: #fff;
    font-size: 18px;
    font-weight: 700;
}
.btn:hover{
    background-color: #153B6E;
}
.login-btn{
    margin-bottom: 39px;
}



/* 忘記密碼 */
.forgotcode{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
.forgotcode li {
    padding: 0; 
}

.forgotcode li a {
    padding: 10px; 
}
.forgotcode li a{
    text-decoration: none;
    color: #545454;
    font-size: 18px;
    line-height: 160%;
    letter-spacing: 0.5px;
}
.forgotcode li a:hover{
    color: #0073A6;
}

/* 分隔線 */
.login-area .line{
    width: 100%;
    max-width: 600px;
    height: 1px;
    background-color: #ccc;
}
/* 立即線上辦卡 */
.apply{

}


/* ------------------ Login End ------------------ */



/* ------------------ Login-RWD Start ------------------ */

/* For devices with a screen width of 1240px or less */
@media screen and (max-width: 1240px) {
    .breadcrumb-area {
        padding-left: 30px;
    }
    .main {
        width: 100%;
        padding: 40px 0px 55px 0px;
    }
    .btn {
        width: 100%;
        max-width: 500px;
    }
    .login-area .main-title {
        font-size: 32px;
    }
    .forgotcode {
        margin-bottom: 16px;
    }
    .main .picture-area img {
        width: 100%;
        max-width: 375px;
    }
    .form-group input[type="email"],
    .form-group input[type="password"] {
        width: 100%;
        min-width: 400px;
    }
    .login-form {
        gap: 16px;
        margin-bottom: 20px;
    }
}


@media screen and (max-width: 1024px) {
    .main-container {
        align-items: center;
        padding: 20px;
        gap: 20px;
    }
    .main .picture-area img {
        min-width: 250px;
    }
    .btn {
        max-width: 400px;
    }
    
    .forgotcode {

        gap: 10px;
    }
    .form-group {
        margin-bottom: 20px;
    }
    .breadcrumb-area{
        margin-bottom: 24px;
    }
    .login-area{
        gap: 20px;
    }
    .login-form {
        gap: 16px;
        margin-bottom: 20px;
    }

}

@media screen and (max-width: 940px) {
    .wrapper {
        padding: 20px 0px 25px 0px;
    }
    .main {
        width: 100%;
        padding: 20px 12px 35px 12px;
        padding: 20px 0px 35px 0px;

    }
    .main-container {
        padding: 10px 12px;
        gap: 10px;
    }
    .breadcrumb-area {
        /* padding-left: 10px; */
        padding-left: 20px;

    }
    .main .picture-area {
        display: none;
    }
    .login-area .main-title {
        font-size: 24px;
        margin-bottom: 20px;
    }
    .form-group input[type="email"],
    .form-group input[type="password"]{
        /* width: 100%; */
        /* width: 400px; */
        width: 100%;
        min-width: 400px;
        /* max-width: 400px; */
    }
    .checkbox-group label {
        font-size: 16px;
    }
    .forgotcode {
        /* flex-direction: column; */
        gap: 5px;
    }
    .login-area {
        gap: 20px;
    }
    .checkbox-group label {
        font-size: 18px;
    }
    .btn {
        width: 100%;
        max-width: 0px;
    }
}
@media screen and (max-width: 430px) {
    .breadcrumb-area {
        /* padding-left: 10px; */
        padding-left: 0px;
    }
    .main {
        padding: 20px 12px 35px 12px;
        box-sizing: border-box; /* 確保內邊距和邊框包含在寬度內 */

    }
    .main-container {
        width: 100%;
        outline: 1px solid red;
        padding: 0px;
        gap: 24px;

        box-sizing: border-box; /* 確保內邊距和邊框包含在寬度內 */
        
    }
    .login{
    
        gap: 16px;
        box-sizing: border-box; /* 確保內邊距和邊框包含在寬度內 */

    }
    .form-group{
        width: 100%;
        outline: 1px solid green;
        outline: 1px solid pink;
        box-sizing: border-box; /* 確保內邊距和邊框包含在寬度內 */


    }
    .login-form{
        width: 90%;
        outline: 1px solid pink;
        box-sizing: border-box; /* 確保內邊距和邊框包含在寬度內 */
    }
    .form-group input[type="email"],
    .form-group input[type="password"]{
        width: 100%;
        box-sizing: border-box; /* 確保內邊距和邊框包含在寬度內 */

    }
    .btn {
        width: 100%
    }
}




/* ------------------ Login-RWD End ------------------ */
