@import url(../css/reset.css);

body {
    font-size: 16px;
    font-family: 'Noto Sans TC', sans-serif;
    font-weight: 400;
    line-height: 160%;
    letter-spacing: 0.5px;
    color: #161616;
}

/* ------------------ Header Start ------------------ */

header {
    width: 100%;
    position: relative;
}
.container {
    margin: 0 auto;
    max-width: 1280px;
}

/* Header最上面(藍色)區域 */
.top-bar {
    background-color: #0073A6;
    padding: 5px 80px;
}

.top-bar ol {
    list-style: none;
    display: flex;
    gap: 24px;
}

.top-bar ol li {
    display: flex;
    align-items: center;
}

/* EN */
.top-bar ol li a {
    text-decoration: none;
    color: #FFF;
    display: flex;
    align-items: center;
    font-size: 16px;
    letter-spacing: 0px;
    font-weight: 500;
}
.top-bar ol li a:hover{
    color: #D7D7D7;
}

/* 地球&info */
.top-bar ol li a i {
    color: #FFF;
    font-size: 20px;
    display: flex;
    align-items: center;
}
.top-bar ol li a i:hover{
    color: #D7D7D7;
}

/* Header中間大區域(白色)區域 */
.header-main {
    background-color: #fff;
    padding: 0px 80px;
    /* position: fixed; */
    width: 100vw;
    /* z-index: 99; */
    top: 0;
    left: 0;
    position: relative;
}
.header-main .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 89px;
}
.header-main .container .ham-logo {
    display: flex;
    align-items: center;
}

/* 漢堡icon */
.header-main .container .ham-logo .bi-list {
    color: #0073A6;
    font-size: 30px;
    margin-right: 25px;
}

/* logo圖 */
.header-main .logo {
    background-image: url('../img/logo.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 200px;
    height: 90px;
}

/* 中間導覽列 */
.header-main .container .main-nav {
    display: flex;
    align-items: center;
}
.header-main .container .main-nav ol {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    gap: 8px;
    flex-wrap: wrap;
}
.header-main .container .main-nav ol li {
    padding: 10px;
    height: 120px;
    line-height: 120px;
}
.header-main .container .main-nav-d ol li {
    padding: 10px;
    height: 94px;
    line-height: 94px;
}
.header-main .container .main-nav ol li a {
    text-decoration: none;
    display: flex;
    align-items: center;
    color: #545454;
    font-size: 18px;
    font-weight: 500;
    transition: all 0.3s ease;
}

.header-main .container .main-nav ol li a:hover{
    color: #1C4F92;
    transform: translate(0, -2px);
}

/* 搜尋欄 */
.search-bar-container {
    position: absolute;
    top: 156px;
    left: 0;
    width: 100%;
    background-color: #007bb8;
    z-index: 1000;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 50px 0px;
    gap: 10px;
    display: none;
}
.search-bar {
    width: 70%;
    max-width: 800px;
    display: flex;
    align-items: center;
    background-color: #ffffff;
    border: 1px solid #ccc;
    border-radius: 50px;
    padding: 5px 20px;
}
.search-bar input {
    border: none;
    outline: none;
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border-radius: 50px;
}
.search-bar i {
    margin-right: 10px;
    font-size: 20px;
    color: #999;
}

/* 叉叉icon */
.search-bar-container .close-btn {
    position: absolute;
    right: 70px;
    font-size: 24px;
    color: white;
    cursor: pointer;
}

/* 熱搜關鍵字 */
.hot-keywords {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 10px;
    justify-content: center;
    flex-wrap: wrap;
}
.hot-keywords .bi-fire{
    display: flex;
    align-items: center;    
    justify-content: center;
    color: #E31936;
    font-size: 16px;
    line-height: 160%;
    font-weight: 500;
    background-color: #fff;
    border: 1px solid #E31936;
    border-radius: 10px;
    padding: 4px 10px;
    gap: 4px;
}
.hot-keywords a {
    color: white;
    text-decoration: none;
    font-size: 16px;
    padding: 5px 10px;
    position: relative;
}
.hot-keywords a:hover{
    font-weight: 500;
    transition: all 0.3s ease;
}
.hot-keywords a:not(:last-child):after{
    content: '';
    display: inline-block;
    width: 1px;
    height: 18px;
    background-color: #fff;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translate(0, -50%);
    margin: 0px -4px;
}

/* 中間導覽列-Hover後出現的下拉選單 */
.dropdown{
    display: flex;
    width: 100vw;
    position: absolute;
    left: 0px;
    top: 100%;
    z-index: 5;
    background-color: #fff;
    border-bottom: 1px solid #ccc;

    display: none;
}
/* 中間導覽列選項 hover */
.nav-item:hover > .dropdown{
    display: flex;
    padding-top: 33px;
    background-clip: content-box;

}
.dropdown-items{
    display: flex;
    flex-direction: column;
    flex: 40%;
    padding: 20px 80px 20px 80px;
}
.dropdown-img{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #E8EDF4;
    flex: 60%;
    padding: 20px 40px;
}
.dropdown-img h6{
    align-self: flex-start;
    font-size: 18px;
    font-weight: 700;
    color: #161616;
    margin-bottom: 15px;
}
.dropdown-img img{
    width: 100%;
    max-width: 683px;
}
.dropdown-items h2{
    color: #1C4F92;
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 32px;
}
.dropdown-items .items {
    display: flex;
    flex: 1;
    flex-direction: column;
    gap: 20px;
}
.dropdown-items .items p{
    font-size: 18px;
    font-weight: 500;
    line-height: 160%;
    padding: 10px;
}
.dropdown-items .items p a{
    color: #545454;
    text-decoration: none;
}

/* 特殊導覽列 */
.header-main .container-d {
    display: flex;

    align-self: center;
    justify-content: center;
    padding: 0px;
    display: none;
}

/* icon-nav */
.icon-nav {
    display: flex;
    justify-content: flex-end;
}
.icon-nav > ol {
    list-style: none;
    display: flex;
    gap: 24px;
}
.icon-nav ol li {
    display: flex;
    align-items: center;
}
.icon-nav ol li a {
    text-decoration: none;
    display: flex;
    align-items: center;
}
.icon-nav ol li a i {
    color: #545454;
    font-size: 24px;
    display: flex;
    align-items: center;
}
.icon-nav ol li a i:hover{
    color: #0073A6;
}

/* 特殊 */
.icon-nav .bi-person{
    animation: bi-person-move 0.8s ease-in-out 2s infinite;
    animation-iteration-count: 2;
}
@keyframes bi-person-move {
    0% { transform: translateY(0px); }
    25% { transform: translateY(-5px); }
    50% { transform: translateY(0px); }
    75% { transform: translateY(-5px); }
    100% { transform: translateY(0px); }
}
.icon-nav .bi-person {
    position: relative;
}
.icon-nav .bi-person:hover::after {
    content: "Click me!";
    position: absolute;
    bottom: 100%; 
    left: 50%;
    transform: translateX(-50%);
    background-color: #545454;
    color: #fff;
    padding: 3px 10px;
    border-radius: 5px;
    white-space: nowrap;
    font-size: 10px;
    opacity: 0;
    transition: opacity 0.3s;
    pointer-events: none;
}
.icon-nav .bi-person:hover::after {
    opacity: 1; 
}

.icon-nav ol li .bi-cart {
    position: relative;
}
.icon-nav ol li .bi-cart::after {
    content: '2'; 
    position: absolute;
    top: -10px;
    right: -10px;
    background-color: red;
    color: white;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    font-weight: bold;
    line-height: 20px;
}

/* 手機版右邊漢堡 */
.icon-nav ol li .bi-list-sm {
    display: none;
}

/* 整個下拉選單 */
.main-nav-sm{
    background-color: #fff;
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 10;
    display: flex;
    flex-direction: column;
    display: none;
}

.main-nav-sm ol{
    display: flex;
    flex-direction: column;
}

.main-nav-sm-item{
    display: flex;
    flex-direction: column;
    /* position: relative; */
}

.main-nav-sm-item.active > .dropdown-sm{
    height: unset;
    /* height: auto; */
    padding: 20px 30px;

    }

/* 下拉選單大標 */
.sm-item{
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 30px;
    box-sizing: border-box;
    border-bottom: 1px solid #ccc;
}
.sm-item h5{
    font-size: 20px;
    font-weight: 700;
    line-height: 160%;
    color: #1C4F92;
}
.sm-item .bi-chevron-down{
    font-size: 16px;
    color: #1C4F92;
}

/* 下拉選單內容 */
.dropdown-sm{
    width: 100vw;
    height: 0;
    padding: 0;
    overflow: hidden;
}
.dropdown-sm a{
    text-decoration: none;
    color: #545454;
    font-size: 18px;
    font-weight: 500;
    line-height: 160%;
    padding: 10px;
    transition: all 0.3s ease-in-out;
}
.dropdown-sm a:hover{
    color: #1C4F92;
    transform: translate(0, -2px);
    transition: all 0.5s ease-in-out;
}

/* 最新消息 */
.news {
    background-color: #EFEFEF;
    padding: 4px 80px;
    z-index: 1;
    position: relative;
}
.news p a {
    color: #545454;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* ------------------ Header End ------------------ */

/* ------------------ Header RWD Start------------------ */

@media screen and (max-width:1400px) {
    .header-main .container {
        gap: 20px;
    }
}

@media screen and (max-width:1240px) {
    .header-main .container .main-nav {
        display: none;
    }
    .header-main .container-d {
        display: flex;
        border-top: 1px solid #ccc;
    }
    .header-main .container-d .main-nav-d {
        display: flex;
        flex-direction: column;
    }
    header .container {
        width: 100%;
    }
    .top-bar {
        padding: 5px 24px;
    }
    .header-main {
        padding: 25px 24px 0px 24px;
    }
    .news {
        padding: 4px 24px;
    }
    .dropdown{
        /* flex-direction: column; */
        gap: 30px;
    }
    .dropdown-items{
        padding: 30px 50px;
    }
    .dropdown-img{
        padding: 30px 80px;
    }
    .search-bar-container {
        top: 150px;
    }
}

@media screen and (max-width:768px) {
    .top-bar{
        display: none;
    }
    .header-main .logo {
        width: 135px;
        height: 35px;
    }
    /* 左邊漢堡icon */
    .header-main .container .ham-logo .bi-list {
        display: none;
    }
    .icon-nav ol li .bi-list-sm {
        display: flex;
        color: #545454;
    }
    .icon-nav > ol{
        gap: 15px;
    }
    .header-main {
        padding: 25px 24px 25px 24px;
        position: fixed;
        z-index: 99;
    }
    .header-main:hover ~ .dropdown1{
        display: none;
    }
    .header-main .container-d {
        display: none;
    }
    .search-bar-container {     
        top: 85px;
        align-items: flex-start;
        padding: 50px 20px;
    }
    .search-bar {
        width: 85%;
        padding: 0px 20px;
        position: relative;
    }
    .search-bar input {
        border: none;
        outline: none;
        width: 100%;
        padding: 10px;
        font-size: 16px;
        border-radius: 50px;
    }
    .search-bar i {
        margin-right: 10px;
        font-size: 20px;
        color: #999;
    }
    .search-bar-container .close-btn {
        right: 50px;
        position: absolute;
        top: 50%;
        right: 30px;
        transform: translate(0px, -50%);

    }
    .hot-keywords {
        display: none
    }
    .news {
        display: none;
    }
}

@media screen and (max-width:430px){
    .header-main {
        padding: 25px 12px 25px 12px;
        position: fixed;
        z-index: 99;
    }
    .icon-nav > ol{
        gap: 12px;
    }
    .search-bar-container {     
        padding: 20px 20px;
    }
    .search-bar {     
        width: 85%;
    }
} 
/* ------------------ Header RWD End------------------ */


/*  Member-level-------------------------------------------------------------開始 */

/* ------------------ 共用樣式 開始 ------------------ */

/* Radiobtn */
/* 隱藏原生radio按鈕 */
.old-radio {
    display: none;
}
.radio-options{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 50px;

    display: none;
}
/* 基本label樣式 */
.radio-text {
    display: inline-flex;
    align-items: center;
    font-size: 18px;
    color: #545454;
    margin-right: 20px;
}

/* 自訂radio按鈕 */
.radio-text::before {
    content: '';
    display: inline-block;
    width: 24px;
    height: 24px;
    border: 1px solid #ccc;
    border-radius: 50%;
    margin-right: 12px;
    background-color: #fff;
    box-sizing: border-box;
}

/* 當radio按鈕被選中時的樣式 */
.old-radio:checked + .radio-text::before {
    border-color: #0073A6;
    background-color: #0073A6;
    box-shadow: 0 0 0 2px #fff inset;
}

/* btn */
/* 網頁按鈕樣式 */
.btn{
    width: 250px;
    height: 50px;
    background-color: #1C4F92;
    border: 0;
    border-radius: 8px;
    color: #fff;
    font-size: 18px;
    font-weight: 700;
}
.btn:hover{
    background-color: #153B6E;
}

/* 麵包屑 */
.breadcrumb{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 10px;
    margin-left: 50px;
    margin-bottom: 10px;
    list-style: none;
    background-color: #fff;
}
.breadcrumb-item{
    display: flex;
    align-items: center;
}
.breadcrumb-item:not(:last-child):after{
    content: '\F285';
    font-family: 'Bootstrap-Icons';
    font-size: 14px;
    display: inline-block;
    padding: 0 10px;
}
.breadcrumb-item a{
    text-decoration: none;
    font-size: 14px;
    color: #545454;
}
.breadcrumb-item a:hover{
    color: #1C4F92;
}

/* ------------------ 共用樣式 結束 ------------------ */



/* ------------------ Member-level Start ------------------ */

.wrapper{
    width: 100%;
    padding: 20px 0;
}

/* main */
.main{
    padding: 10px 0;
}

/* 大標 */
.main-title{
    text-align: center;
    font-size: 40px; 
    font-weight: 700;
    line-height: 160%;
    margin-bottom: 40px;
}

/* 卡片都在這 */
.main-container{
    display: flex;
    margin-bottom: 50px;
}
.sort{
    flex: 1 1 50%;
}

/* 個人vs商業 */
.sort-title{
    text-align: center;
    padding: 10px;
    margin-bottom: 24px;
}
.sort-title h2{
    font-size: 32px;
    font-weight: 700;
    line-height: 160%;
}
.sort-title p{
    font-weight: 500;
}

/* 分隔線 */
.line{
    width: 1px;
    height: auto;
    background-color: #ccc;
    margin: 0 50px;
    align-self: stretch;
}
.card-area{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 32px;
}
.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 0 24px 0;
    min-width: 275px;
    height: 380px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    position: relative;
    transition: all 0.3s ease;
}
.card:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    transform: translateY(-10px);
}

/* 紅色小標籤 */
.tag{
    width: 65px;
    height: 35px;
    background-color: #E31936;
    border-radius: 0px 0px 10px 10px;
    position: absolute;
    left: 10px;
    top: 0;
}
.tag p{
    font-size: 14px;
    color: #fff;
    font-weight: 700;
    line-height: 35px;
    text-align: center;
}

/* 卡片會員名稱&價錢 */
.card-top{
    margin: 40px 0px 20px 0px;
    padding-bottom: 10px;
    border-bottom: 1px solid #ccc;
    text-align: center;
}
.card-top h3{
    font-size: 28px;
    font-weight: 700;
    color: #1C4F92;
    line-height: 160%;
}
.card-top p{
    font-size: 16px;
    color: #545454;
    line-height: 160%;
}
.card-top span{
    font-size: 32px;
    font-weight: 700;
    line-height: 160%;
    color: #E31936;
}

/* 卡片下方內容&ICON */
.card-content{
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.card-content p{
    font-size: 16px;
    color: #545454;
    display: flex;
    align-items: center;
}
.card-content p::before{
    content: '\F272';
    font-family: 'bootstrap-icons';
    font-size: 18px;
    color: #E31936;
    margin-right: 8px;
}

/* 兩張卡不要小標籤 */
.p-diamond .tag{
    display: none;
}
.b-normal .tag{
    display: none;
}

/* 填寫完成btn */
.submit-area{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 24px;
}
.submit-area .btn-area{
    display: flex;
    gap: 24px;
}

/* 按鈕下方註冊文字 */
.submit-area p{
    color: #161616;
}
.submit-area span a{
    line-height: 160%;
    font-weight: 700;
    text-decoration: none;
    color: #161616;
}
.submit-area span{
    border-bottom: 1px solid #161616;
}

/* 特殊 */
.join-btn{
    animation: gradient-animation 3s ease infinite;
    background: linear-gradient(45deg, #1e3c72, #2a5298, #004080, #2a5298, #1e3c72);
    background-size: 200% 200%;
    cursor: pointer;
    transition: all 0.3s ease;
}
.join-btn:hover {
    box-shadow: 0 8px 8px rgba(0, 0, 0, 0.2);
}
@keyframes gradient-animation {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.extra{
    width: 500px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.extra p{
    font-size: 16px;
    color: #545454;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.extra p::after{
    content: '\F272';
    font-family: 'bootstrap-icons';
    font-size: 18px;
    color: #E31936;
    margin-right: 8px;
}
.extra{
    display: none;
}

/* 回到頂部 */
.toTopbtn{
	display: block;
	width: 60px;
	height: 60px;
	background-color: #153B6E;
	color: white;
	display: flex;
	justify-content: center;
	align-items: center;
	position: fixed;
	right: 30px;
	bottom: 60px;
	text-decoration: none;
	border-radius: 50%;
	font-size: 28px;
	transition: .3s;
}

.toTopbtn .bi{
	transition: .3s;
}

.toTopbtn:hover{
	background-color: #112F58;
}

.toTopbtn:hover .bi{
	transform: translateY(-3px);
}

/* ------------------ Member-level End ------------------ */



/* ------------------ Member-level-RWD Start ------------------ */

@media screen and (max-width:1280px){
    .main-container{
        flex-direction: column;
        margin-bottom: 100px;
        gap: 100px;
    }
    .sort{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 32px;
    }
    .line{
        display: none;
    }
    .sort-title{
        min-width: 200px;
        height: 100%;
        margin: 0;
        padding-right: 50px;
    }
    .main-title{
        margin-bottom: 100px;
    }
}
@media screen and (max-width:1024px){
    .breadcrumb{
        margin-left: 16px;
    }
    .radio-options{
        display: flex;
        gap: 16px;
    } 
    .sort-title{
        display: none;
    }
    .sort{
        flex-direction: column;
    }
    .main-title{
        /* outline: 1px solid red; */
        text-align: center;
        font-size: 32px; 
        font-weight: 700;
        line-height: 160%;
        margin-bottom: 32px;
    }
    .tag{
        width: 100%;
        height: 27px;
        border-radius: 10px 10px 0px 0px;
        position: absolute;
        left: 0;
        top: 0;
    }
    .tag p{
        font-size: 14px;
        font-weight: 400;
        line-height: 27px;
        text-align: center;
    }
    .card{
        padding: 0;
        min-width: 180px;
        height: 170px;
    }
    .card-top{
        padding-bottom: 0px;
        margin: 55px 0;
        border-bottom: 0px;
    }
    .card-top h3{
        font-size: 24px;
        color: #1C4F92;
    }
    .card-top span{
        font-size: 16px;
    }
    /* 隱藏前面的紅色勾勾icon */
    .card-content p::before{
        display: none;
    }

    /* 小卡跟灰線距離 */
    .card-area{
        position: relative;
        padding-bottom: 32px;
    }
    /* 小卡下方灰線 */
    .card-area::after{
        content: '';
        background-color: #ccc;
        width: 100%;
        height: 1px;
        position: absolute;
        left: 0;
        bottom: 0;
    }

    .main-container{
        flex-direction: column;
        margin-bottom: 32px;
        gap: 16px;
    }
    /* --------------------- */
    .extra{
        margin: 0 auto;
        width: 396px;
        display: flex;
        justify-content: center;
    }

    /* 隱藏卡片下方內容 */
    .card-content{
        display: none;
    }
    /* 隱藏商業會員 */
    .b-card-area{
        display: none;
    }

    /* btn */
    .btn{
        width: 400px;
    }
    .submit-area .btn-area{
        flex-direction: column;
        gap: 16px;
    }
    .submit-area{
        gap: 16px;
        padding-bottom: 24px;
    }
}

@media screen and (max-width: 430px){
    .wrapper{
        padding: 24px 6px;
    }
    .breadcrumb{
        margin-left: 0;
        padding: 0 20px;
    }
    .main-title{
        font-size: 32px; 
        margin: 24px 0px;
    }
    .card-area{
        gap: 16px;
        width: 100%;
    }
    .extra{
        width: 95%;
    }
    .btn-area{
        width: 100%;
    }
    .btn{
        width: 100%;
    }
    /* 回到頂部 */
    .toTopbtn{
        width: 40px;
        height: 40px;
        right: 20px;
        bottom: 60px;
        font-size: 16px;
    }
}
/* ------------------ Member-level-RWD End ------------------ */


/*  Index-------------------------------------------------------------結束 */


/* ------------------ Footer Start ------------------ */

/* 整個footer */
.footer{
    display: flex;
    justify-content: space-between;
    background-color: #0073A6;
    margin: 0 auto;
    padding: 25px 81px;
}

/* 左側區域 */
.left-area{
    width: 20%;
    min-width: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 49px;
    padding-top: 10px;
}

/* logo圖 */
.footer .logo img{
    width: 200px;
}

/* social-media icon */
.social-media{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 32px;
}
.social-media .bi{
    font-size: 45px;
    color:#fff;
}
.social-media .bi:hover{
    font-size: 45px;
    color:#161616;
    transition: all 0.33s ease;
}

/* apps */
.apps{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 16px;
}
.apps img{
    max-width: 128px;
}
.apps li{
    list-style: none;
}
.apps-icon{
    align-items: center;
    justify-content: center;
    gap: 32px;

    display: none;
}
.apps-icon .bi{
    font-size: 24px;
    color: #fff;
}

/* line */
.footer .line{
    width: 1px;
    height: 450px;
    background-color: #fff;
    margin: 0 57px;
}

/* right-area */
.right-area{
    width: 70%;
    display: flex;
    justify-content: space-between;
}
.right-area h6{
    font-size: 18px;
    font-weight: 700;
    color: #fff;
    padding: 10px 0;
}

.right-area a{
    text-decoration: none;
}

.right-area p{
    color: #fff;
    font-size: 14px;
}
.right-area p:hover{
    font-weight: 700;
    transition: all 0.3s ease;
}
.right-area .footer-list{
    gap: 10px;
    display: flex;
    flex-direction: column;

}
.right-area .list-item{
    display: flex;
    flex-direction: column;
    gap: 4px;
}

/* copyright */
.copyright{
    background-color: #EFEFEF;
    padding: 12px 36px;
}
.copyright p{
    color: #545454;
    font-size: 12px;
    text-align: center;
}

.copyright p:nth-child(2){
    display: none;
}
.copyright span{
    color: #478E8F;
}
.tibame{
    padding: 0 36px;
    background-color: #EFEFEF;
}
.tibame p{
    font-size: 12px;
    color: #161616;
    text-align: center;
    font-weight: 700;
    padding: 10px 0px;

}
/* ------------------ Footer End ------------------ */


/* ------------------ Footer-RWD Start ------------------ */

@media screen and (max-width: 1024px) {
    .footer {
        flex-direction: column; /* 小螢幕下垂直排列 */
        align-items: center;
        padding: 24px 0px;
        gap: 32px;
    }
    .left-area{
        flex-direction: row;
        justify-content: center;
        width: 0%;
        min-width: 0px;
        gap: 32px;
        padding: 0;
        order: 2;
    }
    .footer .logo img{
        display: none;
    }
    .social-media .bi{
        font-size: 24px;
        color:#fff;
    }
    .social-media .bi:hover{
        font-size: 24px;
        transition: all 0.3s ease;
    }
    .apps{
        display: none;
    }
    .apps-icon{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .apps-icon .bi:hover{
        color:#161616;
        transition: all 0.3s ease;

    }
    .footer .line{
        display: none;
    }
    .right-area{
        order: 1;
        width: 90%;
    }
    .right-area .list-item{
        /* display: none; */
        text-align: left;
        margin: 0 auto;
    }
    .right-area h6:hover{
        color: #161616;
        transition: all 0.3s ease;
    }
    .copyright p{
        display: none;
    }
    .copyright p:nth-child(2){
        display: block;
    }
}

@media screen and (max-width: 768px){
    .footer{
        padding: 0;
        gap: 0;
    }
    .right-area{
        flex-direction: column;
    }
    .right-area .footer-list h6{
        display: flex;
        align-items: center;
        justify-content: center;

        font-size: 16px;
        font-weight: 700;
        padding: 16px 10px;
    }
    .left-area{
        padding: 16px;
    }
    .copyright{
        padding: 10px 36px;
    }
    .tibame p{
        font-size: 11px;
    }
    .right-area .list-item{
        display: none;
        text-align: center;
    }
    .footer-list.active .list-item{
        display: block;
    }
}

/* ------------------ Footer-RWD End ------------------ */




